<div class="container">
  <div class="row flex-column align-items-center pt-5 pb-4 pl-3 pr-3">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <input type="text" class="input form-control" placeholder="Search">
        </div>
      </form>
    </div>
    <div class="col-md-8 repos">
    </div>

    <div class="col-md-8 repos" *ngIf="(repos$ | async) as repos">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let repo of repos">
          <a [href]="repo.html_url" target="_blank">
            {{ repo.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

